@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;&display=swap");
body{
    background-color: #0d47a1;
    direction: rtl;
}

.container{
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #00255e;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 60px;
}

.title{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #ccc; 
}

.textarea{
    width: 90%;
    resize: none;
    border: 1px solid #acacac;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    height: 200px;
}

.textarea:focus{
    outline: none;
    border: 1px solid #797979;
}

.btn{
    margin-top:20px;
    border: none;
    padding: 10px;
    width: 30%;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.btn:hover{
    cursor: pointer;
}

.add-text{
    background-color: #f9a825;
}

.add-text:hover{
    background-color: #da911c;
}

.delete{
    background-color: #b71c1c;
}

.delete:hover{
    background-color: #8d1515;
}

.copy{
    background-color: #2e7d32;
}

.copy:hover{
    background-color: #1f5a22;
}